body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 13px;
  justify-content: center;
}

body>div{
  display: grid;
  max-width: 450px;
  min-height: 100vh;
}

.view {
  text-align: center;
  align-self: center;
}

.logo {
  height: 250px;
  pointer-events: none;
  animation: logo-spin infinite 10s linear;

}

.tests{
  margin-top: 30px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  padding: 10px;
  color: #00c8ff;
  text-decoration: none;
}
a:hover{
  color: #61dafb;
}

details{
  display: flex;
  border: 2px solid;
  border-radius: 13px;
  margin: 10px auto;
  padding: 2px 15px;
}
summary{
  display: flex;
  cursor: crosshair;
}

button {
  background-color: #191c20;
  color: white;
  padding: 5px;
  margin: 0 3px;
  border: 0;
  border-radius: 2px;
}
button:active{
  background-color: #2b2f35;
}